/* style main */
main{
    margin-left: 2rem;
    margin-right: 2rem;
}

h1{
    font-size: xx-large;
}

/* style research part */
.researchbox{
    display: flex;
    margin-top: 1rem;
}

.searchicon{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    height: 1.5rem;
}

#researchform{
    font-family: raleway;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding-left: 1.5rem;
    height: 3.2rem;
    width: 13rem;
}

#researchbutton{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 0 1rem 1rem 0;
    padding:0 1.5rem;
    margin-top: 1.1rem;
}

.researchicon{
    display: none;
}

.inputseach{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 0 1rem 1rem 0;
    padding:0 1.5rem;
}

/* style filtres */

.searchfilter{
    margin-top: 2em;
    margin-bottom: 2rem;
    display: flex;
}

.searchfilter i{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1rem;
}

.searchfilter span{
    margin-right: 2rem;
    margin-left: 1rem;
    font-family: raleway;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.searchfiltericon{
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    transition: background-color;
    margin-right: 2rem;
}

.searchfiltericon:hover{
    background-color:whitesmoke;
    transform:scale(1.05);
}

.searchfiltertext{
    margin-left: 1rem;
    margin-top: 5px;
}

.searchfiltertextresult{
    margin-left: 1rem;
    margin-top: 5px;
}

.researchresult{
    display: flex;
    margin-bottom: 2rem;
}

.infoicon{
    display: flex;
    width: 30px;
    height: 30px;
    color: #0065FC;
    border: 1px solid #f2f2f2;
    border-radius: 20px 20px;
    align-items: center;
    justify-content: center;
}

/* style partie hebergement */
.accomodation{
    display: flex;
}

.marseilleaccomodation{
    flex-grow: 4;
    background-color:#F2F2F2;
    border-radius: 1.5rem;
    margin-right:2rem;    
}

.accomodationmain{
    display: flex;
    flex-wrap: wrap;
}

.accomodationmainheader{
    margin-left: 2rem;
}

.marseillehotels{
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 300px;
    transition: background-color;
}

.marseillehotels:hover {
    background-color:whitesmoke;
    transform:scale(1.05);
}

.marseillehotels h3, .marseillehotels p, .popularhotels h3, .popularhotels p {
    margin-bottom: 0%;
    margin-top: 0%;
    text-align:left;
}

.marseillehotels p{
    font-weight: normal; 
}

.photohotel{
    object-fit: cover;
    width: 290px;
    border-radius: 1.25rem;
    max-height: 155px;
}

#photohotel5, #photohotel6{ 
    min-height: 155px;
}


.showmore{
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

/* style hebergement populaire */
.popular{
    background-color:#F2F2F2;
    border-radius: 1.5rem;
    min-height: 650px;
    min-width: 30%;
}

#iconestonk{
    margin-left: 10rem;
    margin-top: 1.5rem;
}

.popularheader{
    display: flex;
    margin-left: 2rem;
}

.popularhotels{
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    transition: background-color;
}

.popularhotels:hover{
    background-color:whitesmoke;
    transform:scale(1.05);
}

.photohotelpop{
    object-fit: cover;
    border-radius: 1.25rem;
    height: 180px;
    width: 170px;
}

.popularhotels p{
    font-weight: normal;
    font-size: 1.17em;
}

.hoteldescriptionpop{
    margin-left: 2rem;
}

/* style icones hebergement */
.rating{
    color: #0065FC;
}

#blankrating1, #blankrating2, #blankrating3, #blankrating4, #blankrating5, #blankrating6, #blankrating7{
    color: #DEEBFF;
}

/* style partie activite */
.activites{
    margin-top: 4rem;
    display:grid;
    column-gap: 2rem;
}

.activitytitle{
    grid-column: 1/-1;
}

.activitydescription1, .activitydescription4{
    display: flex;
    margin-top: 500px;
    margin-left: 1rem;
    font-weight: bold;
}

.activitydescription2, .activitydescription6{
    display: flex;
    margin-top: 240px;
    margin-left: 1rem;
    font-weight: bold;
}

.activitydescription3, .activitydescription5{
    display: flex;
    margin-top: 180px;
    margin-left: 1rem;
    font-weight: bold;
}

.photoactivity1, .photoactivity4{
    position: absolute;
    height:90%;
    object-fit: cover;
}

.photoactivity2, .photoactivity6{
    position: absolute;
    height:85%;
    width:100%;
    object-fit: cover;
}

.photoactivity3, .photoactivity5{
    position: absolute;
    height:80%;
    width:100%;
    object-fit: cover;
}

.activity1{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    transition-duration: 0.1s;
    grid-row: 2/7;
    grid-column: 1/2;
    transition: background-color;
}

.activity2{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    position: relative;
    transition-duration: 0.1s;
    grid-column: 2/3;
    grid-row: 2/5;
    transition: background-color;
}

.activity3{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    position: relative;
    transition-duration: 0.1s;
    grid-column: 2/3;
    grid-row: 6/7;
    transition: background-color;
}

.activity4{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    position: relative;
    transition-duration: 0.1s;
    grid-column: 3/4;
    grid-row: 2/7;
    transition: background-color;
}

.activity5{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    position: relative;
    transition-duration: 0.1s;
    grid-column: 4/5;
    grid-row: 2/3;
    transition: background-color;
}

.activity6{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    position: relative;
    transition-duration: 0.1s;
    grid-column: 4/5;
    grid-row: 4/7;
    transition: background-color;
}

.activity1:hover, .activity2:hover, .activity3:hover, .activity4:hover, .activity5:hover, .activity6:hover{ 
    background-color:whitesmoke;
    transform:scale(1.05);
}

/* responsive telephone */
@media (max-width: 576px) {
    body{
        max-width: 100%;
        overflow-x: hidden;
    }

    #logo{
        padding: 1rem;
    }
    #menu1, #menu2{
        display: flex;
        border-bottom-color: #0065FC;
    }

    ul{
        font-size: x-large;
        margin-top: 3rem;
        margin-left: -11rem;
        border-bottom: 3px solid #F2F2F2;
        width: 580px;
    }

    #menu1{
        margin-right: 6rem;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        margin-left: -2rem;
        padding: 2rem 1rem 2rem 1rem;
        width: 100%;
        padding-left: 2.86rem;
    }

    #menu2{
        margin-left: 5rem;
    }

    .sinscrire {
        margin-left: -10rem;
        font-size: x-large;
    }

    .researchheader{
        width: 500px;
        margin-top: -2rem;
    }

    .researchpart{
        margin-top: 2rem;
    }

    #researchbutton{
        display: none;
    }

    .researchicon{
        display: flex;
        margin-top: 1.1rem;
    }

    .searchfilter{
        margin-right: 1rem;
        display: grid;
        flex-direction: column;
    }

    #filter1{
        grid-column: 1;
        grid-row: 2;
    }

    #filter2{
        grid-column: 2;
        grid-row: 2;
    }

    #filter3{
        grid-column: 1;
        grid-row: 3;
    }

    #filter4{
        grid-column: 1 / 2;
        grid-row: 4;
    }

    #filtertext{
        margin-bottom: 1rem;
    }

    .searchfiltericon{ 
        margin-bottom: 1rem;
        text-align: left;
        width: fit-content;
    }

    .researchresult{
        text-align: left;
        display:flex;
        min-width: 500px;
    }

    .searchfiltertextresult{
        font-size: x-large;
    }

    .accomodation {
        flex-direction: column-reverse;
        margin-left: 1rem;
    }

    .accomodationmain{
        width: 400px;
        flex-direction: column;
    }

    .accomodationmainheader{
        margin-left:-1rem;
        width: 490px;
        margin-bottom: 2rem;
    }
    .marseilleaccomodation{
        margin-top: 1rem;
        background-color:transparent
    }

    .marseillehotels{
        margin-left:-1.4rem;
        width: 522px;
        padding: 0;
    }

    .photohotel{
        width: 100%;
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
    }

    .hoteldescription{
        padding: 0.5rem;
        margin-left: 1rem;
    }   
    
    .hoteldescription h3, .hoteldescription p{
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .showmore{
        font-size: x-large;
        margin-left: -1.5rem;
        margin-bottom: -1rem;
    }

    .popular{
        border-radius: 0%;
        min-width: 600px;
        margin-left: -3.5rem;
    }

    #iconestonk{
        margin-left: 15rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
    
    .popularheader{
        display: flex;
        margin-left: 3rem;
        margin-top: 1rem;
    }

    .popularhotels{
        width: 91%;
        margin-left: 1.5rem;
    }

    .popularhotels .rating{
        margin-top: 55%;
    }

    #popularrating2{
        margin-top: 35%;
    }

    .photohotelpop{
        width: 230px;
        border-bottom-right-radius: 0rem;
        border-top-right-radius: 0rem;
    }
    
    .activites{
        display: flex;
        flex-direction: column;
        width: 520px;
    }

    .activitytitle{
        font-size: x-large;
        margin-bottom: 2rem;
        margin-left: -1.1rem;
    }

    .activity1, .activity2, .activity3, .activity4, .activity5, .activity6{
        height: 200px;
        margin-left: -1rem;
        margin-bottom: 2rem;
        width: 520px;
        display: flex;
    }

    .photoactivity1, .photoactivity2, .photoactivity3, .photoactivity4, .photoactivity5, .photoactivity6{
        height: 150px;
        width: max-content;
    }
    
    .photoactivity2{
        width: -webkit-fill-available;
    }

    .photoactivity6{
        min-width: 540px;
    }
    
    .activitydescription1, .activitydescription2, .activitydescription3, .activitydescription4, .activitydescription5, .activitydescription6 {
        align-items: flex-end;
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: large;
    }

    footer{
        margin-left: -1rem;
        width: max-content;
        padding-left: 1rem;
        margin-bottom: -1rem;
    }

    .footercontent {
        flex-direction: column;  
        min-width: 580px;
        align-items: flex-start;
        margin-left: 1rem;
    }

    .footersub1{
        margin-top: 1rem;
    }
    .footersub2, .footersub3{
        min-width: 230px;
    }


}

/* responsive tablette */
@media (max-width: 992px) {
    .accomodation {
        flex-direction: column-reverse;
        }

        
    }