/* style header et menu */
body{
    font-family: raleway;
    color:black;
    margin:0px;
}

.header{
    display: flex;
    margin-top: 12px;
    align-items: flex-end;  
}

#logo{
    flex: 1 0 25%;
} 

.header #logo a{
    display: inline-block;
}

header .navigation{
    flex: 1 0 75%;
    max-width: 488px;
}

header .navigation .navbar{
    align-items: center;
}

.header .navigation .navbar ul{
    display: flex;
    flex: 1 0 75%;
    margin: 0px;
    padding: 0px;
}

.header .navigation .navbar ul li{
    list-style: none;
    text-align: center;
}

.header .navigation .navbar ul li.first{
    flex-basis: 99%;
}

.header .navigation .navbar ul li.second{
    flex-basis: 41%;
}


.navbar {
    display: flex;
}

#menu1{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    display: block;
    padding: 25px 5px;
}

#menu2{
    transition: border-top;
    margin-right: -1rem;
    margin-left: 0rem;
    border-top: var(--boder-height-top-menu) #fff;
    display: block;
    height:  var(--height-top-menu);
    line-height: var(--line-height-top-menu);
}

#menu2:hover{
    color: var(--blue-link-color);
    border-top: var(--boder-height-top-menu) var(--blue-link-color);
}

.sinscrire{
    color: var(--blue-link-color);
    font-weight: bold;
    flex: 1 0 25%;
    height:  var(--height-top-menu);
    line-height: var(--line-height-top-menu);
}

a{
    text-decoration: none;
}
