/* style footer */
footer{
    background-color: #F2F2F2;
    margin-top: 3rem;
}

.footercontent{
    display: flex;
    align-items: flex-start;
}

.footercontent h3{
    margin-left: 39px;
}

.footercontent li{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    flex: 1 0 30%;
}

.footercontent ul{
    margin-block-end: 0em;
}

.footerlink{
    margin-top: 0rem;;
    margin-bottom: 1rem;
    color: black;
}