/* style footer */
footer{
    background-color: #F2F2F2;
}

.footer{
    background-color: #F2F2F2;
    margin-top: 3rem;
    display: flex;
}

.footer .footersub{
    flex:1 0 33.33%;
}

.footer .footersub ul{
    list-style:none;
    padding: 0;
}

.footer ul li{
    margin-bottom: 10px;
}

.footer .footersub ul li a{
    font-weight: 600;
    font-size: 0.90rem;
}

.footerlink {
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: black;
}

/* responsive telephone */
@media (max-width: 767px) {
    .footer{
        padding-left: 1rem;
        flex-direction: column;
    }

    .footer .footersub ul{
        margin-left: 0px;
    }
}

/* responsive tablette */
@media (min-width: 768px) and (max-width: 1100px) {
    .footer .footersub{
        margin-top: 1rem;
        padding-left: 20px;
    }
}